form {
    margin: auto;
    background-color: lightgray;
    border-radius: 20px;
    border: solid black 1px;
    width: 800px;
    height: 1200px;
}
h1 {
    padding-left: 20px;
}

h2 {
    padding-top: 20px;
    padding-left: 40px;
}

#Boite1 {
    margin-top: 20px;
    margin-left: 40px;
    border: black solid 1px;
    height: 130px;
    width: 80%;
    background-color: lightsalmon;
}

label {
    margin-top: 15px;
    padding-left: 15px;
    display: block;
    width: 70px;
    float: left;
}

input {
    margin-top: 15px;
    margin-left: -40px;
    width: 250px;
    display: block;
}

select {
    margin-top: 15px;
    margin-left: -40px;
    height: 22px;
    width: 257px;
    display: block;
}

#Boite2 {
    margin-top: 20px;
    margin-left: 40px;
    border: black solid 1px;
    height: 130px;
    width: 80%;
    background-color: lightsalmon;
}

#Boite2 span{
    font-size: 15px;
    padding-left: 15px;
    /*Pour déplacer le span vers le bas*/
    position: relative;
    float: left;
    bottom: -15px;
    width: 140px;
}

#Boite2 label{
    float: left;
    margin-top: 15px;
    width: auto;
    margin-left: -50px;
    margin-right: 50px;
    display: inline-block;




}

#Boite2 input {
    margin-top: 15px;
    float: left;
    width: 100px;
    display: inline-block;
    margin-right: 10px;


}